@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.max-w-1140 {
    max-width: 1164px !important;
}

/* line height */
.lh-229 {
    line-height: 229%;
}

.lh-204 {
    line-height: 204%;
}

.lh-130 {
    line-height: 130%;
}

.lh-202 {
    line-height: 202%;
}

/* navbar */
.z-5 {
    z-index: 5;
}

.gap-32 {
    gap: 32px;
}

.mr-18 {
    margin-right: 18px;
}

.py-14 {
    padding-top: 14px;
    padding-bottom: 14px;
}


.ml-37 {
    margin-left: 37px;
}

.ml-16 {
    margin-left: 16px;
}

.nav-tags {
    text-decoration: none;
    color: black;
    position: relative;
    padding-bottom: 8px;
}

.nav-tags::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: yellow;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.nav-tags:hover::after {
    transform: scaleX(1);
}

.px-48 {
    padding-left: 48px !important;
    padding-right: 48px !important;
}

.px-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.nav-bg {
    background-image: url(../Images/Png/nav-img.png) !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.pt-30 {
    padding-top: 30px;
}

/* header */
.bg-img {
    background-image: url(../Images/Png/header-img.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 853px;
    background-position: center;
}

.mb-26 {
    margin-bottom: 26px;
}

.mb-75 {
    margin-bottom: 75px;
}

.max-w-899 {
    max-width: 899px;
}

.max-w-254 {
    max-width: 254px;
}

.btn-box {
    max-width: max-content;
}

.cursor-pointer {
    cursor: pointer;
}

.left-22 {
    left: 22px;
}

.right-34 {
    right: 34px;
}

.top-153 {
    top: 153px;
}

.top-140 {
    top: 140px;
}

.pt-71 {
    padding-top: 71px;
}

.get-btn {
    padding: 16px 39px;
    transition: all 200ms linear;
}

.get-btn:hover {
    transform: scale(1.1);
}

/* meet section */
.pt-140 {
    padding-top: 140px;
}

.meet-bg-img {
    background-image: url(../Images/Png/meet-section-box-img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 56px 42px;
}

.max-w-1056 {
    max-width: 1056px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-43 {
    margin-top: 43px;
}

/* peak section */
.bg-img-2 {
    background-image: url(../Images/Png/peak-bg-img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.h-44 {
    height: 44%;
}

.top-17 {
    top: -17%;
}

.mt-100 {
    margin-top: 100px;
}


.slider-track {
    display: flex;
}

.slider-track-1 {
    animation: slideLeft 5s linear infinite;
}

.slider-track-2 {
    animation: slideRight 5s linear infinite;
}

.mx-w-175 {
    max-width: 175px;
}

.mx-h-193 {
    max-height: 193px;
}

@keyframes slideLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}

.mb-92 {
    margin-bottom: 92px;
}

.pt-140 {
    padding-top: 140px;
}

.left-slider-box {
    transform: translateX(-10%);
    overflow: hidden;
}

.right-slider-box {
    transform: translate(10%, 0);
    overflow: hidden;
}

.mt-30 {
    margin-top: 30px;
}

.pb-100 {
    padding-bottom: 100px;

}

.ml-26 {
    margin-left: 26px;
}

/* sunset club */
.top-9 {
    top: -9%;
}

.pt-120 {
    padding-top: 120px;
}

.mb-20 {
    margin-bottom: 20px;
}

.max-w-892 {
    max-width: 892px;
}

.mt-98 {
    margin-top: 98px;
}

.max-w-370 {
    max-width: 370px;
}

.ml-29 {
    margin-left: 29px;
}

.pb-18 {
    padding-bottom: 18px;
}

.member-card {
    background-image: url(../Images/Png/Cupboard-white.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 22px 23px;
    max-width: 181px;
    transition: all 200ms linear;
}

.member-card:hover {
    background-image: url(../Images/Png/Cupboard-orange.png);
}

.max-w-135 {
    max-width: 135px;
}

.member-card:hover .card-text {
    color: var(--color-white) !important;
}

.slider-1 .slick-dotted.slick-slider {
    margin-bottom: 0 !important;
}

.slider-1 .slick-dots {
    position: absolute;
    bottom: -30px !important;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slider-1 .slick-dots li button:before {
    font-size: 10px !important;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 100% !important;
    color: #536771 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slider-1 .slick-dots li.slick-active button:before {
    color: var(--color-white) !important;
    opacity: 100% !important;
}

/* pumpmap */
.max-w-699 {
    max-width: 699px;
}

.max-w-407 {
    max-width: 407px;
}

.pt-102 {
    padding-top: 102px;
}

.pb-183 {
    padding-bottom: 183px;
}

/* OG PUMPIONS */
.opacity-70 {
    opacity: 70%;
}

.mb-31 {
    margin-bottom: 31px;
}

.mb-79 {
    margin-bottom: 79px;
}

.gap-11 {
    gap: 11px;
}

.slider-svg {
    transition: all 200ms linear;
}

.slider-svg:hover {
    transform: scale(1.1);
}

.pb-61 {
    padding-bottom: 61px !important;
}

.slider-2 .slick-dotted.slick-slider {
    margin-bottom: 0 !important;
}

.slider-2 .slick-dots {
    position: absolute;
    bottom: 10px !important;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slider-2 .slick-dots li button:before {
    font-size: 10px !important;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 100% !important;
    color: #536771 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slider-2 .slick-dots li.slick-active button:before {
    color: var(--color-white) !important;
    opacity: 100% !important;
}

.we-btn {
    padding: 16px 23px;
    transition: all 200ms linear;
}

.we-btn:hover {
    transform: scale(1.1);
}

/* faq */
.faq .accordion {
    --bs-accordion-active-color: none !important;
    --bs-accordion-active-bg: none !important;
    --bs-accordion-btn-focus-box-shadow: none !important;
    --bs-accordion-bg: none !important;
    --bs-accordion-border-width: none !important;
    max-width: 735px;
}

.accordion-button::after {
    background-image: url(../Images/Svg/accordion-plus-icon.svg) !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../Images/Svg/accordion-minus-icon.svg) !important;
}

.mt-46 {
    margin-top: 46px;
}

.max-w-735 {
    max-width: 735px;
}

.fs-16 {
    font-size: 16px;
}

.mt-24 {
    margin-top: 24px;
}

.pb-170 {
    padding-bottom: 170px;
}

.h-62 {
    height: 62px !important;
}

.accordion-button {
    padding: 15px 31px 15px 40px !important;
}

.accordion-body {
    padding: 10px 31px 0px 40px !important;
}

.bg-layer {
    background-image: url(../Images/Png/accordion-layer.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.pt-150 {
    padding-top: 150px;
}

/* footer */
.footer-bg-img {
    background-image: url(../Images/Png/footer-bg-img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.max-w-425 {
    max-width: 425px;
}

.max-w-322 {
    max-width: 322px;
}

.pt-90 {
    padding-top: 90px;
}

.pb-77 {
    padding-bottom: 77px;
}

@media (max-width:991.98px) {

    .nav-link {
        display: flex !important;
        flex-direction: column;
        background: white !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 3;
        align-items: center;
    }

    .show-navbar {
        right: 0 !important;
    }

    .max-w-899 {
        max-width: 612px;
    }

    .mb-45 {
        margin-bottom: 45px;
    }

    .mb-26 {
        margin-bottom: 18px;
    }

    .mb-75 {
        margin-bottom: 58px;
    }

    .bg-img {
        min-height: 643px;
    }

    .meet-bg-img {
        padding: 36px 16px 28px 16px;
    }

    .max-w-892 {
        max-width: 770px;
    }

    .mb-55 {
        margin-bottom: 55px !important;
    }

    .pb-183 {
        padding-bottom: 130px;
    }

    .mb-79 {
        margin-bottom: 75px;
    }

    .pt-150 {
        padding-top: 97px;
    }

    .left-22 {
        left: -75px;
    }

    .right-34 {
        right: 0;
    }

    .top-140 {
        top: 110px;
    }
}

@media (max-width:767.98px) {
    .fs-16 {
        font-size: 14px !important;
    }

    .left-22 {
        left: -75px;
    }

    .right-34 {
        right: 0;
    }

    .top-140 {
        top: 110px;
    }

    .top-153 {
        top: 100px;
    }
}

@media (max-width:575.98px) {
    .max-w-899 {
        max-width: 282px;
    }

    .left-22 {
        left: -120px;
    }

    .right-34 {
        right: -120px;
    }

    .top-140 {
        top: 110px;
    }

    .max-w-322 {
        max-width: 193px;
    }

    .max-w-254 {
        max-width: 190px;
    }

    .get-btn {
        padding: 12px 28px;
    }

    .pt-71 {
        padding-top: 40px;
    }

    .mb-26 {
        margin-bottom: 0;
    }

    .mb-75 {
        margin-bottom: 34px;
    }

    .bg-img {
        min-height: 421px;
    }

    .max-w-892 {
        max-width: 366px;
    }

    .max-w-255 {
        max-width: 255px;
    }

    .meet-bg-img {
        padding: 26px 18px 23px 19px;
    }

    .pb-183 {
        padding-bottom: 66px;
    }

    .pt-102 {
        padding-top: 50px;
    }

    .mb-79 {
        margin-bottom: 30px;
    }

    .fs-16 {
        font-size: 9px !important;
    }

    .we-btn {
        padding: 11px 17px;
    }

    .accordion-button {
        padding: 7px 14px 6px 15px !important;
    }

    .accordion-body {
        padding: 5px 14px 0px 15px !important;
    }

    .mt-24 {
        margin-top: 10px;
    }

    .h-62 {
        height: 33px !important;
    }

    .pb-170 {
        padding-bottom: 50px;
    }

    .pt-150 {
        padding-top: 37px;
    }

    .px-48 {
        padding-left: 10px !important;
        padding-right: 26px !important;
    }
}