@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.press-start {
    font-family: 'Press Start 2P', cursive;
}

.mx-w-1140 {
    max-width: 1140px !important;
}

.h-853 {
    min-height: 853px;
}


.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    z-index: 10;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
    background-color: #fff;
}

.nav-bg {
    background-image: url(../image/png/nav-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.mx-w-nav-1140 {
    max-width: 1140px !important;
}

.rotate40 {
    transform: rotate(40deg);
}

.rotate-45 {
    transform: rotate(-44deg);
}

.z-5 {
    z-index: 5;
}

.gap-32 {
    gap: 32px;
}

.mr-18 {
    margin-right: 18px;
}

.py-14 {
    padding-top: 14px;
    padding-bottom: 14px;
}

.gap-11 {
    gap: 11px;
}

.ml-37 {
    margin-left: 37px;
}

.ml-16 {
    margin-left: 16px;
}

.nav-tags {
    text-decoration: none;
    color: black;
    position: relative;
    padding-bottom: 8px;
}

.nav-tags::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: yellow;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.nav-tags:hover::after {
    transform: scaleX(1);
}

.pt-30 {
    padding-top: 30px;
}

/*--------------header--------------*/
.header-bg {
    background-image: url(../image/png/header-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.mt-71 {
    margin-top: 71px;
}

.pointer-event-none {
    pointer-events: none;
}

.pt-26 {
    padding-top: 26px;
}

.get-btn {
    background-image: url(../image/png/Button-bg.png);
    background-repeat: no-repeat;
    padding: 16.2px 39px;
    border: none;
    background-color: transparent;
    transition: all 200ms linear;
    flex-wrap: nowrap;
}

.get-btn:hover {
    transform: scale(1.1);
}

.mt-40 {
    margin-top: 40px;
}

.header-main-text {
    max-width: 899px;
    height: 255px;
}

.header-left-clouds {
    left: 22px;
    margin-top: 46px;
}

.header-right-clouds {
    right: 34px;
    margin-top: 33px;
}

.mr-15 {
    margin-right: 15px;
}

.nav-icons {
    transition: all 200ms linear;
}

.nav-icons:hover {
    transform: scale(1.1);
}

/*--------------Meet-section--------------*/
.mx-w-1056 {
    max-width: 1056px;
}

.py-56 {
    padding: 56px 42px 56px 42px;
}

.meet-bg {
    background-image: url(../image/png/meet-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.pt-150 {
    padding-top: 150px;
}

/*--------------FAMILIAR-section--------------*/
.pt-43 {
    padding-top: 43px;
}

.familiar-bg {
    background-image: url(../image/png/FAMILIAR.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.ml-26 {
    margin-left: 26px;
}

.upper-layer {
    top: -15%;
}

.top-3 {
    top: -2px;
}

.h-44 {
    height: 44%;
}

.mt-100 {
    margin-top: 100px;
}

.slider-track {
    display: flex;
}

.slider-track-1 {
    animation: slideLeft 5s linear infinite;
}

.slider-track-2 {
    animation: slideRight 5s linear infinite;
}

.mx-w-175 {
    max-width: 175px;
}

.mx-h-193 {
    max-height: 193px;
}

@keyframes slideLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}

.left-slider-box {
    max-width: 1342px;
    position: absolute;
    left: -5%;
}

.right-slider-box {
    max-width: 1342px;
    position: absolute;
    right: -5%;
}

.mt-30 {
    margin-top: 30px;
}

.pb-100 {
    padding-bottom: 100px;

}

.fammiliar-bottom-layer {
    top: -9%;
}

/*--------------Membership-section--------------*/
.mx-w-892 {
    max-width: 892px;
}

.member-ship-card {
    background-image: url(../image/png/membership-card-bg-hover.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 22px 23px;
    max-width: 181px;
    transition: all 200ms linear;
}

.member-ship-card:hover {
    background-image: url(../image/png/membership-card-bg.png);
}

.member-ship-card:hover .card-text {
    color: white !important;
}

.pb-18 {
    padding-bottom: 18px;
}

.mx-w-135 {
    max-width: 135px;
}

.mx-w-370 {
    max-width: 370px;
}

/*--------------Membership-section--------------*/

.mx-w-699 {
    max-width: 699px;
}

/*--------------Pumpions-section--------------*/
.mx-w-226 {
    max-width: 226px;
}

.pt-31 {
    padding-top: 31px;
}

.pumpions-discord {
    transition: all 200ms linear;
}

.pumpions-discord:hover {
    transform: scale(1.1);
}

.gap-89 {
    gap: 89px;
}

.hiring-btn-bg {
    background-image: url(../image/png/hiring-btn.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 16.5px 23px;
    border: none;
    background-color: transparent;
    transition: all 200ms linear;
}

.hiring-btn-bg:hover {
    transform: scale(1.1);
}


.accordion {
    background-image: url(../image/png/accodion-bg.png) !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    width: 100% !important;

}

.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: transparent !important;
    box-shadow: unset !important;
}

.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: unset;
}

.px-48 {
    padding-left: 48px !important;
    padding-right: 48px !important;
}

/* line-height */
.lh-130 {
    line-height: 130%;
}

.lh-229 {
    line-height: 229%;
}

.lh-204 {
    line-height: 204%;
}

.lh-202 {
    line-height: 202%;
}

/* line-height */
@media (max-width:1139.98px) {

    .px-32 {
        padding-left: 32px;
        padding-right: 32px;
    }

    .header-left-clouds {
        left: -71px;
        margin-top: 11px;
    }

    .header-right-clouds {
        right: 7px;
        margin-top: 7px;
    }

    .header-main-text {
        max-width: 612px;
        height: 153px;
    }

    .pt-26 {
        padding-top: 18px;
    }

    .h-853 {
        min-height: 667px;
    }

    .mr-24 {
        margin-right: 24px;
    }
}

@media (max-width:991.98px) {

    .nav-link {
        display: flex !important;
        flex-direction: column;
        background: white !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 3;
        align-items: center;
    }

    .show-navbar {
        right: 0 !important;
    }



}

@media (max-width:767.98px) {
    .header-left-clouds {
        left: -117px;
        margin-top: 11px;
    }

    .header-right-clouds {
        right: -96px;
        margin-top: 7px;
    }

    .px-48 {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

}

@media (max-width:575.98px) {
    .header-main-text {
        max-width: 282px;
        height: 72px;
    }

    .mx-w-255 {
        max-width: 255px;
    }

    .mt-71 {
        margin-top: 40px;
    }

    .pt-26 {
        padding-top: 0;
    }

    .mt-40 {
        margin-top: 34px;
    }

    .h-853 {
        min-height: 514px;
    }

    .px-48 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .get-btn {
        padding: 12px 28px;
        background-size: contain;
    }
}

@media (max-width:365px) {
    .header-left-clouds {
        display: none;
    }

    .header-right-clouds {
        display: none;
    }
}