@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.press-start {
    font-family: 'Press Start 2P', cursive;
}

.mx-w-1140 {
    max-width: 1140px !important;
}

.mx-w-1440 {
    max-width: 1440px !important;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    z-index: 10;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
    background-color: #fff;
}

.nav-bg {
    background-image: url(../image/png/nav-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.rotate40 {
    transform: rotate(40deg);
}

.rotate-45 {
    transform: rotate(-44deg);
}

.z-5 {
    z-index: 5;
}

.gap-32 {
    gap: 32px;
}

.mr-18 {
    margin-right: 18px;
}

.py-14 {
    padding-top: 14px;
    padding-bottom: 14px;
}

.gap-11 {
    gap: 11px;
}

.ml-37 {
    margin-left: 37px;
}

.ml-16 {
    margin-left: 16px;
}

.nav-tags {
    text-decoration: none;
    color: black;
    position: relative;
    padding-bottom: 8px;
}

.nav-tags::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: yellow;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.nav-tags:hover::after {
    transform: scaleX(1);
}

.pt-30 {
    padding-top: 30px;
}

/*--------------header--------------*/
.header-bg {
    background-image: url(../image/png/header-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.mt-71 {
    margin-top: 71px;
}

.pointer-event-none {
    pointer-events: none;
}

.pt-26 {
    padding-top: 26px;
}

.get-btn {
    background-image: url(../image/png/Button-bg.png);
    background-repeat: no-repeat;
    padding: 16.2px 39px;
    border: none;
    background-color: transparent;
    transition: all 200ms linear;
}

.get-btn:hover {
    transform: scale(1.1);
}

.mt-75 {
    margin-top: 75px;
}

.mx-w-899 {
    max-width: 899px;
}

/*--------------Meet-section--------------*/
.mx-w-1056 {
    max-width: 1056px;
}

.py-56 {
    padding: 56px 42px 56px 42px;
}

.meet-bg {
    background-image: url(../image/png/meet-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.pt-150 {
    padding-top: 150px;
}

.pt-43 {
    padding-top: 43px;
}

/* line-height */
.lh-130 {
    line-height: 130%;
}

.lh-229 {
    line-height: 229%;
}

.lh-204 {
    line-height: 204%;
}

.lh-202 {
    line-height: 202%;
}

/* line-height */
@media (max-width:991.98px) {

    .nav-link {
        display: flex !important;
        flex-direction: column;
        background: white !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 3;
        align-items: center;
    }

    .show-navbar {
        right: 0 !important;
    }

}